/* from big tablets to 1200px: widths smaller than  the  1140px row */ 
@media only screen and (max-width: 1200px) {
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    .row{ padding: 0 2%;}

}


/* small tablets to big tablets: from 768px to 1023px */ 
@media only screen and (max-width: 1023px) {
    body { font-size: 18px;}
    section{ padding: 60px 0;}

    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    .steps-box{margin-top: 10px;}
    .steps-box{margin-top: 10px;}
    .works-step{margin-bottom: 40px;}
    .works-step:last-of-type{margin-bottom: 60px;}

    .app screen{ width: 50%;}
    .icon-small{ width: 15px;
                margin-right: 5px;
    }
    .city-features{ font-size: 90%;}
    .plan-box{
        width: 100%;
        margin-left: 0;
    }
    .plan-price{ font-size: 250%;}
    .contact-form{ width: 80%;}
    
    /* my editings */
    .works-step div{
        width: 40px;
        height: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 120%;
    }
        .btn-app img{
        margin-right: 5px;
    }
    h1{font-size: 200%;}
    h2{font-size: 150%;}
    h3{ font-size: 100%;}
}


/* small phones to small tablets: from  481px to 767px */ 
@media only screen and (max-width: 767px) {
    body{ font-size: 16px;}
    section{ padding: 30px 0;}

    .row,
    .hero-text-box{ padding: 0 4%;}
    .col{ 
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav{ display: none;}
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    h1{font-size: 180%;}
    h2{font-size: 135%;}

    .app screen{ width: 40%;}

    .works-step{margin-bottom: 20px;}
    .works-step:last-of-type{margin-bottom: 20px;}

    .steps-box:first-child{ text-align:center;}

    .works-step div{
        width: 40px;
        height: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 120%;
    }


}

/* small phones: from  0 to 480px */ 
@media only screen and (max-width: 480px) {
    .long-copy{
        width: 90%;
        margin-left: 5%;
    }

    section{ padding: 25px 0;}
    .contact-form{ width: 100%;}
}

